{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datastory Orkan Lothar</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .container {
            display: flex;
            color: black;
        }

        .left-column {
            flex: 1.5;
            padding-right: 10px;
        }

        .right-column {
            flex: 1.5;
            padding-left: 10px;
        }

        .center-coloumn {
            flex: 1.5;
        }

        .right-column-pic {
            flex: 1.5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gallery img {
            max-width: 100%;
            height: auto;
        }

        .
    </style>
</head>
<body>
<div class="container">
    <div class="center-coloumn">
        <p></p>
        <h1>Der Sturm der Weihnachten zerstörte</h1>
        <p>Am frühen Morgen des 26. Dezember 1999 erwachte Europa zu einem unheilvollen Schauspiel der Natur. Der Himmel
            war düster, die Luft geladen mit einer unheimlichen Spannung. Innerhalb weniger Stunden verwandelte sich ein
            scheinbar normaler zweiterWeihnachtstag in ein apokalyptisches Szenario, das als "Jahrhundertsturm Lothar"
            in die Geschichtsbücher eingehen sollte. Mit zerstörerischen Winden von bis zu 200 km/h fegte Lothar über
            den Kontinent und hinterliess eine Spur der Verwüstung. Wälder wurden dem Erdboden gleichgemacht, Dächer
            abgedeckt und ganze Landstriche lagen unter einer Decke aus Trümmern. Dies war nicht nur ein Sturm, sondern
            ein brutaler Kraftakt der Natur, der das Leben von Millionen Menschen für immer veränderte.</p>
        <div class="image">
            <img src="{% static 'img/Einstieg.png' %}"
                 alt="Das Bild besteht aus vier separaten Fotografien, die jeweils wetterbedingte Schäden in
                 verschiedenen Regionen zeigen. Das obere linke und das obere rechte Bild zeigen Szenen aus der Schweiz.
                  Oben links ist ein umgestürzter Baum zu sehen, der in Trümmern verstrickt ist, und oben rechts eine
                  Baustelle mit beschädigtem Gerüst. Das untere linke Bild, beschriftet mit Belgien, zeigt eine
                  überflutete Straße, durch die Menschen waten, und das untere rechte Bild, beschriftet mit Stuttgart,
                  zeigt ein Gebäude mit einem stark beschädigten Dach, auf das ein kKran gefallen ist">
        </div>
        <br>
        <p></p>
    </div>
</div>
<div class="container">
    <div class="center-coloumn">
        <p></p>
        <p></p>
        <h1>Herausforderungen der Sturmvorhersage</h1>
        <p>Orkan Lothar hat nicht nur aufgrund seiner zerstörerischen Kraft Aufmerksamkeit erregt, sondern auch wegen
            der erheblichen Kritik, die an den meteorologischen Vorhersagemethoden geübt wurde. Die Analyse dieses
            Aspekts beleuchtet sowohl die technischen Herausforderungen als auch die daraus resultierenden
            Verbesserungen in der Wettervorhersage.</p>
    </div>
</div>
<div class="container">
    <div class="left-column">
        <h2>Herausforderungen bei der Vorhersage</h2>
        <p>Lothar entwickelte sich rasch und unerwartet stark, was die meteorologischen Dienste vor grosse
            Herausforderungen stellte. Trotz vorhandener Daten und moderner Vorhersagetechnologien waren die Prognosen
            hinsichtlich der Sturmstärke und den Weg, welchen Lothar nehmen würde, ungenau. Dies führte dazu, dass
            Warnungen entweder zu spät oder nicht ausreichend deutlich ausgegeben wurden, was die Vorbereitungszeit für
            die betroffenen Regionen erheblich verkürzte.</p>
    </div>
    <div class="right-column">
        <h2>Kritik an den meteorologischen Diensten</h2>
        <p>Die Kritik konzentrierte sich vor allem darauf, dass die meteorologischen Dienste die Intensität des Sturms
            unterschätzt und die Bevölkerung nicht adäquat informiert hatten. In der Folge wurden die
            Kommunikationsstrategien überdacht und verbessert, um die Öffentlichkeit effektiver vor solchen extremen
            Wetterereignissen zu warnen.</p>
    </div>
</div>
</body>
<body>
<div class="container">
    <div class="left-column">
        <h2>Verbesserungen in der Wettervorhersage</h2>
        <p>Als Reaktion auf die Ereignisse und die daraus resultierende Kritik haben meteorologische Institute in ganz
            Europa ihre Vorhersagemethoden überarbeitet. Dies umfasste die Einführung verbesserter Modelle für die
            Wettervorhersage, die eine genauere und zeitigere Vorhersage von extremen Wetterereignissen ermöglichen.
            Zusätzlich wurden die Kommunikationskanäle verstärkt, um sicherzustellen, dass Warnungen schneller und auf
            verständlichere Weise an die Öffentlichkeit gelangen.</p>
    </div>
    <div class="right-column">
        <h2>Einfluss des Klimawandels</h2>
        <p>Die Diskussion um Lothar und andere ähnliche Stürme hat auch den Blick auf die potenziellen Auswirkungen des
            Klimawandels auf die Häufigkeit und Intensität von Extremwetterereignissen gelenkt. Es wird zunehmend
            anerkannt, dass ein tieferes Verständnis der Zusammenhänge zwischen Klimawandel und Wetterextremen für die
            zukünftige Risikobewertung und -minderung unerlässlich ist.</p>
    </div>
</div>
</body>
<body>
<div class="container">
    <div class="center-coloumn">
        <h1>Lehren aus dem Jahrhundertsturm Lothar</h1>
        <p>Orkan Lothar bleibt ein prägnantes Beispiel für die zerstörerische Kraft von Naturgewalten und die
            Herausforderungen, die solche Extremereignisse für Gesellschaften darstellen. Die Erfahrungen und
            Erkenntnisse aus diesem Ereignis haben wichtige Lehren für die Zukunft geliefert, sowohl im Hinblick auf die
            Bewältigung der direkten Schäden als auch in der Vorbereitung auf und Reaktion auf ähnliche Ereignisse.</p>
    </div>
</div>
</body>
<body>
<div class="container">
    <div class="left-column">
        <h2>Wichtige Erkenntnisse</h2>
        <ul>
            <li>
                <strong>Verbesserte Vorbereitung und Frühwarnsysteme:</strong> Lothar hat die Notwendigkeit aufgezeigt,
                effiziente und weitreichende Warnsysteme zu implementieren, um die Bevölkerung rechtzeitig vor
                bevorstehenden Stürmen zu warnen. Die Fortschritte in der meteorologischen Technologie und Kommunikation
                haben dazu beigetragen, dass die Vorhersagen genauer und die Warnungen schneller erfolgen.
            </li>
            <li>
                <strong>Bedeutung der Infrastrukturresilienz:</strong> Die massiven Infrastrukturschäden unterstreichen
                die Bedeutung des Aufbaus und der Wartung von sturmsicherer Infrastruktur, besonders in sturmgefährdeten
                Gebieten.
            </li>
            <li>
                <strong>Ökologische und wirtschaftliche Nachhaltigkeit:</strong> Die langfristigen ökologischen und
                wirtschaftlichen Schäden haben die Wichtigkeit einer nachhaltigen Forstwirtschaft und Landnutzung
                verdeutlicht, um die Resilienz gegenüber natürlichen Störungen zu erhöhen.
            </li>
        </ul>
    </div>
    <div class="right-column">
        <h2>Ausblick</h2>
        <p>Die durch Lothar gewonnenen Einsichten führen weiterhin zu Anpassungen in vielen Bereichen, von der
            regionalen Planung und Bauvorschriften bis hin zur globalen Klimapolitik. Die zunehmende Häufigkeit und
            Intensität von Sturmereignissen, die möglicherweise mit dem Klimawandel zusammenhängen, erfordern eine
            fortlaufende Evaluierung und Anpassung unserer Strategien zur Schadensminderung und
            Katastrophenprävention.</p>
        <ul>
            <li>
                <strong>Forschung und Bildung:</strong> Weiterführende Forschung zu den Zusammenhängen zwischen
                Klimawandel und Extremwetterereignissen sowie Bildungsprogramme können dazu beitragen, das Bewusstsein
                und Verständnis in der Bevölkerung zu schärfen.
            </li>
            <li>
                <strong>Internationale Kooperation:</strong> Die grenzüberschreitende Natur von Sturmereignissen wie
                Lothar betont die Notwendigkeit internationaler Zusammenarbeit in den Bereichen Wettervorhersage,
                Notfallplanung und Katastrophenhilfe.
            </li>
        </ul>
    </div>
</div>
</body>
<body>

</body>

</body>
<body>
<div class="container">
    <div class="center-coloumn">
        <p></p>
        <h1>Die Unmittelbaren Schäden </h1>
        <p>Orkan Lothar war durch seine aussergewöhnliche Intensität und Geschwindigkeit gekennzeichnet, was zu
            weitreichenden direkten Schäden in mehreren europäischen Ländern führte. Die primären Auswirkungen lassen
            sich in zwei Hauptkategorien unterteilen: Infrastrukturschäden und Waldschäden.</p>
    </div>
</div>
<div class="container">
    <div class="column left-column">
        <h2>Infrastrukturschäden</h2>
        <p>Die Zerstörung der Infrastruktur war immens. In Deutschland, Frankreich, der Schweiz und Österreich wurden
            zahlreiche Gebäude beschädigt oder zerstört. Besonders betroffen waren Dächer, Fenster und Fassaden. In
            vielen Regionen kam es zu grossflächigen Stromausfällen, die teilweise Tage andauerten, da Stromleitungen
            durch umstürzende Bäume beschädigt wurden. Verkehrssysteme, einschliesslich wichtiger Bahnlinien und
            Strassenverbindungen, lagen unter Trümmern oder waren unpassierbar, was die Mobilität stark einschränkte und
            die Aufräumarbeiten erschwerte. Betrachten wir mal die Schäden in der Schweiz.</p>
        <div class="image">
            <img src="{% static 'img/Bild002.png' %}" alt="Das Bild zeigt ein Donut-Diagramm, das die durch Orkan Lothar
             verursachten Schäden in der Schweiz darstellt. In der Mitte des Diagramms steht der Gesamtbetrag von 1,2
             Milliarden CHF. Das Diagramm ist in zwei Bereiche unterteilt:
             Der blaue Bereich repräsentiert Infrastrukturschäden mit einem Betrag von 450 Millionen CHF.
             Der orange Bereich repräsentiert Waldschäden mit einem Betrag von 750 Millionen CHF.">
        </div>
        <p>Wie in dieser Grafik zu erkennen, beliefen sich die Schäden auf rund 1.2 Milliarden Franken. Die
            Infrastruktur beläuft sich auf rund 450 Millionen Franken.</p>
        <div class="image">
            <img src="{% static 'img/Bild005.png' %}" alt="Das Bild zeigt eine entgleiste Lokomotive in einer
            verschneiten Waldlandschaft. Die Lokomotive liegt schräg zwischen umgestürzten Bäumen, die offenbar durch
            einen Sturm oder eine Naturkatastrophe entwurzelt wurden. Im Hintergrund sind dichte, hohe Nadelbäume zu
            sehen, die teilweise noch stehen, während der Vordergrund von umgekippten und gebrochenen Baumstämmen
            dominiert wird. Die Szenerie vermittelt ein Bild von Zerstörung und der Gewalt der Natur.">
        </div>
        <p></p>
    </div>
    <div class="column right-column">
        <h2>Waldschäden</h2>
        <p>Die Waldschäden waren beispiellos. In den betroffenen Ländern wurden insgesamt Millionen Kubikmeter Holz zu
            Boden geworfen, was zu einem erheblichen ökologischen und wirtschaftlichen Schaden führte. In Deutschland
            fiel das Dreifache des jährlichen Holzeinschlags dem Sturm zum Opfer, und in der Schweiz wurden zehn
            Millionen Bäume entwurzelt. Diese massiven Waldschäden hatten langfristige Auswirkungen auf die
            Forstwirtschaft und die Biodiversität der Regionen. Wie an der Graphik zu sehen ist, zerstörte der Orkan
            Lothar in den meisten Ländern mehr, als ein Land pro Jahr an Holz benötigt. Lediglich in Deutschland und
            Österreich war der Schaden kleiner als die Jahresnutzung. Die kann in Deutschland daran liegen, dass die
            grössten Schäden nur im Süden des Landes waren. In Österreich sahen wir in den Winddaten, dass der Orkan
            nicht mehr so stark war wie in den anderen Ländern. </p>
        <div class="image">
            <img src="{% static 'img/Bild003.png' %}" alt="Das Bild zeigt ein Balkendiagramm, das die Schadholzmenge und
             die Jahresnutzung von Holz in verschiedenen Ländern vergleicht. Die aufgelisteten Länder umfassen
             Frankreich, Deutschland, Schweiz und Österreich. Frankreich weist die höchste Schadholzmenge mit über
             140 Mio. m³ auf, gefolgt von Deutschland, das ebenfalls eine signifikante Menge an Schadholz und
             Jahresnutzung zeigt circa 35 Mio. m³. Die Schweiz und Österreich haben deutlich geringere Mengen, wobei
             die Schweiz eine niedrige Schadholzmenge und eine geringere Jahresnutzung aufweist. Österreich zeigt einen

             kleinen orangefarbenen Balken, was auf eine geringere Jahresnutzung hinweist.">
        </div>
        <p>Die Schäden an der Infrastruktur und den Wäldern führten zu einer sofortigen und umfassenden Reaktion von
            Einsatzkräften und Hilfsdiensten. Die Aufräumarbeiten begannen oft noch am Tag des Sturms, unterstützt durch
            nationale und internationale Hilfsteams, einschliesslich Feuerwehr, Technischem Hilfswerk und sogar
            Einheiten der Armee.</p>
        <p></p>
    </div>
    <p></p>
</div>
</body>
<body>
<div class="container">
    <div class="center-coloumn">
        <h1>Langfristige Auswirkungen von Orkan</h1>
        <p>Nach den unmittelbaren Schäden, die der Orkan verursachte, traten zahlreiche sekundäre Folgen zutage, die
            sowohl die sozialen Strukturen als auch die wirtschaftliche und ökologische Stabilität der betroffenen
            Regionen beeinflussten. Diese langfristigen Auswirkungen zeichnen ein Bild der nachhaltigen Veränderungen,
            die durch das Extremereignis verursacht wurden.</p>
    </div>
</div>
<div class="container">
    <div class="left-column">
        <h2>Ökonomische Auswirkungen</h2>
        <p>Die wirtschaftlichen Folgen von Lothar waren tiefgreifend. Die Gesamtkosten für die Beseitigung der Schäden
            und die Wiederherstellung der Infrastruktur beliefen sich, wie bereits zuvor erwähnt, auf mehrere Milliarden
            Franken. Es ist nicht verwunderlich, dass die Forstwirtschaft unter enormen Verlustenlitt, da die Zerstörung
            von Waldflächen zu einem drastischen Rückgang der Holzproduktion führte. Dies hatte auch Auswirkungen auf
            verwandte Industrien wie die Papier- und Möbelproduktion. Versicherungsgesellschaften standen vor
            aussergewöhnlich hohen Schadensansprüchen, was in einigen Fällen zu einer Überprüfung der
            Versicherungspolicen und Prämienerhöhungen führte.</p>
        <div class="image">
            <img src="{% static 'img/Bild006.jpg' %}" alt="Das Bild zeigt eine Kirche in einer ländlichen Gegend, die
            von einem Friedhof umgeben ist. Die Kirche hat ein hohes, rechteckiges Kirchturm mit einer Uhr. Im
            Vordergrund sind zahlreiche Grabsteine und Denkmäler auf dem Friedhof zu sehen, während im Hintergrund
            einige Wohnhäuser und Hügel die Landschaft dominieren.">
        </div>
    </div>
    <div class="right-column">
        <h2>Soziale und gesellschaftliche Folgen</h2>
        <p>Die sozialen Auswirkungen des Sturms waren ebenfalls erheblich. Viele Menschen verloren ihr Zuhause oder ihre
            Arbeitsstätten, was temporäre und in einigen Fällen dauerhafte Umsiedlungen nach sich zog. Die
            psychologischen Auswirkungen auf die betroffenen Gemeinschaften waren tiefgehend, wobei Trauer um Verluste
            und die Angst vor zukünftigen Stürmen weit verbreitet waren. In vielen Gemeinden stärkte die gemeinsame
            Bewältigung der Krise jedoch auch den sozialen Zusammenhalt.</p>
        <div class="image">
            <img src="{% static 'img/Bild007.jpg' %}" alt="Die Grafik zeigt die zehn teuersten Winterstürme, die jemals
            Europa getroffen haben, einschließlich der finanziellen Verluste und der Todesopferzahlen.
            Die Daten wurden in Euro umgerechnet (Stand 8.12.15).
            - **1999 Wintersturm Lothar**: €10.6 Mrd. Verluste, 110 Todesopfer
            - **2007 Wintersturm Kyrill**: €9.2 Mrd. Verluste, 49 Todesopfer
            - **1990 Wintersturm Daria**: €6.3 Mrd. Verluste, 94 Todesopfer
            - **2010 Wintersturm Xynthia**: €5.6 Mrd. Verluste, 65 Todesopfer
            - **2005 Wintersturm Erwin**: €5.5 Mrd. Verluste, 18 Todesopfer
            - **1987 Wintersturm 87J**: €4.9 Mrd. Verluste, 37 Todesopfer
            - **2009 Wintersturm Klaus**: €4.7 Mrd. Verluste, 26 Todesopfer
            - **1990 Wintersturm Martin**: €2.8 Mrd. Verluste, 30 Todesopfer
            - **1990 Wintersturm Vivian**: €2.9 Mrd. Verluste, 52 Todesopfer
            - **1999 Wintersturm Anatol**: €2.9 Mrd. Verluste, 20 Todesopfer
            Die Grafik verdeutlicht sowohl die finanziellen Auswirkungen als auch die menschlichen Verluste dieser
            extremen Wetterereignisse in Europa.">
        </div>
    </div>
</div>
<div class="container">
    <div class="left-column">
        <p></p>
        <h2>Ökologische Auswirkungen</h2>
        <p>Ökologisch betrachtet führte der massive Verlust von Waldflächen zu einer Veränderung der Biodiversität und
            der Ökosystemdienstleistungen. In vielen Gebieten veränderte sich die Flora und Fauna, da neue Arten in die
            durch den Sturm geschaffenen offenen Flächen einwanderten, während andere verschwanden. Die langfristige
            Regeneration der Wälder erforderte umfangreiche Wiederaufforstungsprogramme, die teilweise bis heute
            andauern. </p>
        <div class="image">
            <img src="{% static 'img/Bild008.jpg' %}" alt="Die Karte zeigt die Schweiz und markiert mit roten Punkten
            die Gebiete, die von Sturmschäden betroffen sind. Die betroffenen Gebiete konzentrieren sich hauptsächlich
            im Mittelland.">
        </div>
    </div>
    <div class="right-column">
        <p></p>
        <h2>Kulturelle und pädagogische Nachwirkungen</h2>
        <p>In einigen Regionen führte der Sturm zur Errichtung von Mahnmalen und zur Einrichtung von Bildungspfaden, wie
            dem Lotharpfad im Schwarzwald, die Besuchern die Kräfte der Natur und die Resilienz der Wälder näherbringen
            sollen. Diese Initiativen tragen dazu bei, das Bewusstsein für Naturkatastrophen zu schärfen und das Wissen
            über die Notwendigkeit von Anpassungsstrategien zu verbreiten.</p>
        <div class="image">
            <img src="{% static 'img/Bild009.jpg' %}" alt="Das Bild zeigt die Schäden eines Gebäudes nach einem Sturm.
            Das Gebäude hat ein teilweise eingestürztes Dach und erhebliche strukturelle Schäden. Im Vordergrund liegen
            umgestürzte Bäume, und mehrere Arbeiter oder Rettungskräfte in Schutzkleidung und Helmen begutachten die
            Schäden. Der Hintergrund zeigt eine hügelige, ländliche Landschaft mit kahlen Bäumen und grünen Wiesen.
            Das Bild vermittelt den Eindruck der Verwüstung, die der Sturm in dieser ländlichen Region angerichtet hat.">
        </div>
    </div>
    <p></p>
</div>
<p></p>
</body>
<div class="container">
    <div class="column left-column">
        <h1>Der Jahrhundertsturm Lothar</h1>
        <p>Am 26. Dezember 1999 traf der Orkan Lothar mit einer verheerenden Kraft auf West- und Mitteleuropa.Mit
            Windgeschwindigkeiten, die an einigen Orten 272 km/h (75.5 m/s) erreichten, hinterließ er eine </p>Spur der
        Zerstörung in Frankreich, Südwestdeutschland, der Schweiz, Liechtenstein, Österreich und Teilen Tschechiens. Als
        Teil einer Serie von Winterstürmen, die das Ende des 20. Jahrhunderts prägten, stellte Lothar eine der
        ernsthaftesten meteorologischen Herausforderungen der jüngeren Zeit dar.</p>
        <p></p>
        <p>Die Intensität und der schnelle Verlauf des Sturms, der innerhalb weniger Stunden enorme Schäden verursachte,
            machten Lothar zu einem markanten Beispiel für die zerstörerische Kraft von Extremwetterereignissen. Die
            direkten Folgen waren nicht nur physisch sichtbar in Form von umgestürzten Bäumen und beschädigten
            Infrastrukturen, sondern führten auch zu erheblichen menschlichen und wirtschaftlichen Verlusten. Etwa 110
            Menschen verloren ihr Leben, und die Schadenssumme belief sich auf mehrere Milliarden Franken.</p>
        <p></p>
        <p>Dieser Text setzt den Rahmen für eine tiefgehende Untersuchung der Auswirkungen von Lothar, einschließlich
            der primären Schäden, der langfristigen ökonomischen und ökologischen Folgen sowie der Kritik an den
            meteorologischen Vorhersagemethoden, die damals verwendet wurden. Durch das Verständnis dieses extremen
            Ereignisses können wichtige Lehren für die zukünftige Sturmprävention und -reaktion gezogen werden.</p>
    </div>
    <div class="column right-column-pic">
        <div class="image">
            <img src="{% static 'img/Bild001.png' %}" alt="Die Karte zeigt die Zugbahn des Orkans Lothar. Die Karte
             markiert verschiedene Zeitpunkte und Luftdruckmessungen (hPa) entlang der Route des Sturms durch Europa:
            Um 6 Uhr befand sich der Sturm über Paris mit einem Luftdruck von 961 hPa.
            Um 11 Uhr zog der Sturm weiter nach Nancy mit einem Luftdruck von 970 hPa.
            Um 18 Uhr erreichte der Sturm Prag mit einem Luftdruck von 980 hPa.">
        </div>
    </div>
</div>
<body>
<div class="container">
    <div class="center-coloumn">
        <h1>Literaturverzeichnis</h1>
        <ol>
            <li>
                <p>Niall McCarthy (2015). The costliest winter storms ever to hit Europe. Abgerufen von <a
                        href="https://www.statista.com/chart/4147/the-costliest-winter-storms-ever-to-hit-europe/">https://www.statista.com/chart/4147/the-costliest-winter-storms-ever-to-hit-europe/</a>
                </p>
            </li>
            <li>
                <p>Der Autor ist unbekannt (2019). Der Sturm, den niemand vergisst. Abgerufen von <a
                        href="https://www.srf.ch/news/regional/bern-freiburg-wallis/20-jahre-lothar-der-sturm-den-niemand-vergisst">https://www.srf.ch/news/regional/bern-freiburg-wallis/20-jahre-lothar-der-sturm-den-niemand-vergisst</a>
                </p>
            </li>
            <li>
                <p>Eugen Müller, Stephan Bader, Patrick Hächler (2009). 19991226 03 Orkan Lothar. Abgerufen von <a
                        href="https://sturmarchiv.ch/index.php/19991226_03_Orkan_Lothar">https://sturmarchiv.ch/index.php/19991226_03_Orkan_Lothar</a>
                </p>
            </li>
            <li>
                <p>Der Autor ist unbekannt. (2023). Orkan Lothar. Abgerufen von <a
                        href="https://de.wikipedia.org/wiki/Orkan_Lothar">https://de.wikipedia.org/wiki/Orkan_Lothar</a>
                </p>
            </li>
            <li>
                <p>Der Autor ist unbekannt (1999). Unwetter im Rückblick. Abgerufen von <a
                        href="https://www.wetteronline.ch/extremwetter/der-weihnachtsorkan-lothar-teuerster-sturm-in-europa-1999-12-26-ol">https://www.wetteronline.ch/extremwetter/der-weihnachtsorkan-lothar-teuerster-sturm-in-europa-1999-12-26-ol</a>
                </p>
            </li>
            <li>
                <p>Bundesamt für Umwelt BAFU. (2019). 20 Jahre nach «Lothar»: Der Wald hat sein Terrain zurückerobert.
                    Abgerufen von <a
                            href="https://www.bafu.admin.ch/bafu/de/home/themen/thema-wald-und-holz/wald-und-holz--dossiers/magazin2019-4-der-wald-hat-sein-terrain-zurueckerobert.html">https://www.bafu.admin.ch/bafu/de/home/themen/thema-wald-und-holz/wald-und-holz--dossiers/magazin2019-4-der-wald-hat-sein-terrain-zurueckerobert.html</a>
                </p>
            </li>
            <li>
                <p>Swiss Re (Das Jahr ist unbekannt). Weihnachten vor 20 Jahren: Die Stürme Lothar und Martin richten
                    verheerende Schäden in ganz Europa an. Abgerufen von <a
                            href="https://www.swissre.com/risk-knowledge/mitigating-climate-risk/winter-storms-in-europe/weihnachten-vor-20-jahren-die-sturme-lothar-martin.html">https://www.swissre.com/risk-knowledge/mitigating-climate-risk/winter-storms-in-europe/weihnachten-vor-20-jahren-die-sturme-lothar-martin.html</a>
                </p>
            </li>
            <li>
                <p>SRF (1999). Sturm "Lothar" im Kanton Bern. Abgerufen von <a
                        href="https://www.srf.ch/play/tv/tagesschau/video/sturm-lothar-im-kanton-bern?urn=urn:srf:video:e49bbfba-a189-42d1-a22f-51a3c7d3efd5">https://www.srf.ch/play/tv/tagesschau/video/sturm-lothar-im-kanton-bern?urn=urn:srf:video:e49bbfba-a189-42d1-a22f-51a3c7d3efd5</a>
                </p>
            </li>
        </ol>
    </div>
</div>
</html>
